<h1>Fill Out the Form Below</h1>
<form action="/employees/new" method="post">
  <div class="form-group">
    <label for="description">Enter a Descriptive Name:</label>
    <input id="description" name="description" type="text" class="form-control" autofocus required>
  </div>
  <button type="submit" class="btn btn-success">Add</button>
  <a href="/"><button type="button" class="btn btn-info">Cancel</button></a>
</form>
