<h1><%= @division.description %></h1>
<ul>
  <% @division.projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.name %></a></li>
  <% end %>
</ul>
<form action="/add_project" method="post">
  <input type="hidden" name="id" value="<%= @division.id %>">
    <div class="form-group">
      <label for="name">Create a new project:</label>
      <input type="text" name="name" class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Add</button>
    <a href="/"><button type="button" class="btn btn-secondary">Return Home</button></a>
</form>
